@font-face {
    font-family: collegefont;
    src: url(../fonts/collegefont.ttf);
}

body{

}

#header{
	font-family: collegefont;
	font-size: 56px;
}

.title{
	margin: 25px;
}
.title, .counter-container, .question, .answer{
	border-style: solid;
	margin: 25px;
	margin-left: 275px;
	width: 50%;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;
	
}

.answer:hover{
	background-color: yellow;
}