@font-face {
    font-family: collegefont;
    src: url(../fonts/collegefont.ttf);
}

body{
	background-image: url(../images/sports.jpg);
	background-repeat:no-repeat;
	background-size: 100% 100vh;
}

.container{
	background-color: gray;
	width: 75%;
}

#header{
	font-family: collegefont;
	font-size: 56px;
}

.title{
	margin: 25px;
}
.title, .counter-container, .question, .answer, .start-button, .score-container, .startAgain-container, .correct-answer-container{
	margin: 25px;
	margin-left: 25%;
	margin-right: 25%;
	height: auto;
	padding-top: 5px;
	padding-bottom: 5px;

}

#start-again{
	width: auto;
}

.answer:hover, .start-button:hover, .startAgain-container:hover{
	background-color: yellow;
	border-style: solid;
}

.score-container {
	margin-left: 37.2%;
	width: 25%;	
}

#counter, #question1{
	font-weight: bold;
}

.question-answers-counter{
	padding-bottom: 1px;
}